<h1><%= @article.title %></h1>
<p><%= @article.body %><p><br /><br />

<h2>COMMENTS</h2>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<%= link_to "Back to All Articles", articles_path %>
<%= link_to "Delete",
  article_path(@article),
  method: :delete,
  data: {confirm: "Are you sure?"} %>
<%= link_to "Edit", edit_article_path(@article) %>
